.container{

    background-color: rgb(146, 151, 149);
    
}

.tr:nth-child(even) {
    background-color: beige;
   
}

.tr:nth-child(even) {
    background-color: beige;
   
}

.headertable{
    background-color: burlywood;
}

