<h1>Registro de colaborador</h1>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" 
          aria-current="page" 
          routerLink="crearcolaborador"
          routerLinkActive="active">Registrar colaborador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="vercolaborador"
          routerLinkActive="active">Consultar colaborador</a>
        </li>
        
      </ul>
 <div class="container">
        <router-outlet></router-outlet>
  </div>

</div>