<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" 
          aria-current="page" 
          routerLink="progcita"
          routerLinkActive="active">Programar cita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="listarcita"
          routerLinkActive="active">Consultar Citas</a>
        </li>
        
      </ul>
 <div class="container">
        <router-outlet></router-outlet>
  </div>

</div>