<!-- <div class="container mt-5">
  <select [(ngModel)]="idFK" class="form-select" aria-label="Default select example" (change)="verCodigo()">
    <option selected>Open this select menu</option>
    <option *ngFor="let servicios of misServicios" value="{{servicios.id}}">{{servicios.nombre}}</option>
  </select>

</div>


<div class="container mt-5 ">
  <div class="row justify-content-md-center">
    <div class="col-8">
  
  <form class="row g-3" [formGroup]="frmRegistro" id="frmdataRegistro">
          
    <div class="row">
      <div class="col-8">
          <div class="form-group">
              <label for="nombrePersona">Nombre Cargo &nbsp;<span class="badge text-bg-dark" *ngIf="idFK>0">Id:&nbsp;{{idFK}}</span></label>
              <input formControlName="nombre" type="text" class="form-control" name="nombre" id="nombre">
              <ng-container *ngFor="let validation of validationMessage.nombre">
                  <div *ngIf="frmRegistro.controls['nombre'].hasError(validation.type) && (frmRegistro.controls['nombre'].dirty || frmRegistro.controls['nombre'].touched)">
                    <small class="text-danger">{{validation.message}}</small>
                  </div>
               </ng-container>
          </div>
      </div>
  </div>
  

    </form>
    <div class="row justify-content-md-center mt-3">
      <div class="col-6">
          <button type="button" class="btn btn-primary" (click)="onEdit()">Editar Cargo</button>
      </div>
  </div>
</div>
</div>
</div>



 -->


 
<div class="container mt-2">

  <select [(ngModel)]="idFK" class="form-select" aria-label="Default select example" (change)="verCodigo()">
    <option selected>Open this select menu</option>
   
  
    <option *ngFor="let servicio of misServicios" value="{{servicio.id}}">{{servicio.nombre}}</option>
  </select>
  
</div>


<div class="container mt-5">
  <div class="row justify-content-md-center">
      <div class="col-8">


       
  
          <form class="row g-3" [formGroup]="frmRegistro" id="frmdataRegistro">
          
            <div class="row">
              <div class="col-8">
                  <div class="form-group">
                      <label for="nombrePersona">Nombre servicio &nbsp;<span class="badge text-bg-dark" *ngIf="idFK>0">Id:&nbsp;{{idFK}}</span></label>
                      <input formControlName="nombre" type="text" class="form-control" name="nombrePersona" id="nombrePersona">
                      <ng-container *ngFor="let validation of validationMessage.nombre">
                          <div *ngIf="frmRegistro.controls['nombre'].hasError(validation.type) && (frmRegistro.controls['nombre'].dirty || frmRegistro.controls['nombre'].touched)">
                            <small class="text-danger">{{validation.message}}</small>
                          </div>
                       </ng-container>
                  </div>
              </div>
          </div>
          

            </form>
            <div class="row justify-content-md-center mt-3">
              <div class="col-6">
                  <button type="button" class="btn btn-primary" (click)="onEdit()">Editar Cargo</button>
              </div>
          </div>
            
            </div>
          </div>
        </div>




