<!-- <div class="container text-center mt-3" style="width: 50%;">
    <table>
      <tr class="headertable" >
        <th style="width:100px;">ID</th>
        <th style="width:350px;" colspan="2">Nombre</th>
      </tr>
    
    
      <tr class="text-start" *ngFor="let cargo of lstcargos">
        <td>{{cargo.id}}</td>
        <td>{{cargo.nombre}}</td>
        <td class="text-end"><button type="button" class="btn btn-danger" (click)="EliminarRegistro(cargo.id)">Eliminar</button> </td>
       
        
      </tr>
      
    </table>
</div> -->


<div class="container  mt-2">
  <table id="servicio" class="table table-striped" style="width:100%">
    <thead>
      
        <tr>
            <th style="width:10% ;">Id</th>
            <th style="width:350% ;">Nombre</th>
            <th style="width:350% ;">Descripcion</th>
            <th style="width:350% ;"></th>   
            
            
            
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let servicio of data">
            <td>{{servicio.id}}</td>
            <td>{{servicio.nombre}}</td>
            <td>{{servicio.descripcion}}</td>
            <td class="text-end"><button type="button" class="btn btn-danger" (click)="EliminarRegistro(servicio.id)" >Eliminar</button></td>
            
        </tr>
        
    </tbody>
    
  </table>
  </div>
