<div class="container text-center mt-3" style="width: 50%;">
    <table>
      <tr class="headertable" >
        <th style="width:100px;">ID</th>
        <th style="width:350px;" colspan="2">Nombre</th>
      </tr>
    
    
      <tr class="text-start" *ngFor="let cargo of lstcargos">
        <td>{{cargo.id}}</td>
        <td>{{cargo.nombre}}</td>
        <td class="text-end"><button type="button" class="btn btn-danger" 
            (click)="EliminarRegistro(cargo.id)">Eliminar</button> </td>
       
        
      </tr>
      
    </table>
</div>